# src/Pages/Front/HomePage/HomePage.jsx
src/Pages\App/College/Course/AdmissionPost copy.jsx
/src/Pages\App/College/Course/AdmissionPost copy.jsx
/src/Pages/App/College/Course/TrainerModule copy.jsx
/src/Pages/App/College/Training/AcademicCoordinatorModule copy.jsx
/src/Pages/App/College/Training/SeniorTrainerModule copy.jsx
node_modules
/node_modules
.env
/.env