body {
  margin: 0;
  font-family: var(--foc-font-sans);
  font-size: var(--foc-text-base);
  color: var(--foc-color-text);
  background: var(--foc-color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
a{
  text-decoration: none!important;
}
p, ul, li {
  margin: 0!important;
  padding: 0!important;
}
code {
  font-family: var(--foc-font-mono);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foc-color-text-strong);
}

:root {
  --toastify-color-info: #fc2b5a;
  --toastify-text-color-info: #fff;
  --toastify-icon-color-info: #fff;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background: #fc2b5a !important;
  color: #fff !important;
}

.Toastify__toast-theme--colored.Toastify__toast--info .Toastify__toast-icon svg {
  fill: #fff;
}
